* {

    font-size: 18px;

}

body {

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    background-color: cornsilk;

}

#first_number {

    border: none;

    border-radius: 10px;

    width: 250px;
    height: 50px;
    
    background-color: grey;
    color: white;

    transition: all 1s;

}

#first_number:hover {

    border-radius: 2px;

    background-color: dimgray;

    transition: all 1s;

}

#second_number {

    border: none;

    border-radius: 10px;

    width: 250px;
    height: 50px;
    
    background-color: grey;
    color: white;
    
    transition: all 1s;

}

#second_number:hover {

    border-radius: 2px;

    background-color: dimgray;

    transition: all 1s;

}

#solution {

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;

    border-radius: 5px;

    width: 250px;
    height: 50px;
    
    background-color: #ffb300;
    color: white;
    
    transition: all 1s;

}


#solve {

    border: none;

    border-radius: 5px;

    width: 250px;
    height: 50px;
    
    background-color:green;
    color: white;
    
    transition: all 1s;

}

#solve:hover {

    border-radius: 2px;

    background-color: darkgreen;

    transition: all 2s;

}

.footer__text {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    
    position: absolute;
    
    left: 0;
    right: 0;
    bottom: 0;
    
    width: 100%;
    height: 10px;

}

a {
    color: blue;
}